body{
    background-color: rgb(99, 99, 230);
}
.container{
    width: 960px;
    
    
}
.grid-row{ justify-content: center;
    display:flex
}
.grid-box{
    border: 1px solid rgb(177, 177, 177);
    background-color: antiquewhite;
}
